<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/tableLayout.css}">
<meta charset="utf-8">
<title>Form</title>
</head>

<body>

<h1 class="text-center" > DeBluSpoon: MODIFICA RISTORANTE </h1>

<form action="/edit">
	<div class="form-group">
		<small id="id" class="form-text text-muted">Stai modificando </small>	
		<input type="text" id="name" name="id" th:value="'Id: ' +  ${r.id}" readonly class="form-control-plaintext"> 
	
	
	<br>
	<div class="cointainer-fluid ">
		<div>
			<label for="name">Modifica Nome
			<input type="text" class="form-control" id="name" name="name" th:placeholder="${r.name}">
			</label> 
		</div>
		<div>
			<label for="name">Modifica Posizione
			<input type="text" class="form-control" id="name" name="posizione" th:placeholder="${r.posizione}">
			</label> 
		</div>
		<div>
			<label for="name">Modifica Specialità
			<input type="text" class="form-control" id="name" name="specialita" th:placeholder="${r.specialita}">
			</label> 
			
		</div>
		
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>	
	</div>
	
</form>


</body>

</html>