<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	
	<meta charset="utf-8">
	<title>Form </title>
	</head>
	
	<div>
	<form action="/edit">
	
		<div>
			<label for="name">ID Ristorante da modificare</label> <input type="text"
				id="name" name="id" th:value="${r.id}" readonly>
		</div>
		
		<div>
			<label for="name">Nuovo Nome Ristorante</label> <input type="text"
				id="name" name="name" th:value="${r.name}">
		</div>

		<div>
			<label for="name">Nuova Posizione</label> <input type="text" id="name"
				name="posizione" th:value="${r.posizione}">
		</div>
		<br> <br>
		<div>
			<label for="name">Nuova Specialità</label> <input type="text" id="name"
				name="specialita" th:value="${r.specialita}">
		</div>
		
		<div>
			<label for="name">Recensione</label> <input type="text" id="name"
				name="recensione" th:value="${r.recensione}" readonly>
		</div>
		
		<button type="submit"> Modifica ristorante</button>
	
	</form>
	</div>
	
	
	
	</html>