<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/tableLayout.css">
<meta charset="utf-8">
<title>Inserisci Recensione</title>
</head>
<body>

<h1 class="text-center" > DeBluSpoon: NUOVA RECENSIONE </h1>

<br>
<br>
	<form action="/aggiungiRecensione">
		<div class="form-group">
			<div>
				<label for="name"><input type="text"
					class="form-control" id="id_utente" name="id_utente"
					placeholder="Inserisci l'utente">
				</label>
			</div>
			<div>
				<label for="name"><input type="text"
					class="form-control" id="id_rest" name="id"
					placeholder="Inserisci Id Ristorante da recensire">
				</label>
			</div>
			<div>
				<label for="name"><input type="text"
					class="form-control" id="stelle" name="stelle"
					placeholder="Inserisci N° Stelle da 1 a 5">
				</label>

			</div>

		</div>
		<button type="submit" class="btn btn-primary">Inserisci Nuova Recensione</button>
	</form>

</body>


</html>