<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{src/main/resources/static/css/tableLayout.css}">
<meta charset="utf-8">
<title>Tabella Ristoranti</title>
</head>
<body>

	<div class="container-fluid">
		<h1>

			<p class="text-center">
				DeSpoon <br>
			</p>
			<p class="text-center ">I Ristoranti presenti sono:</p>
		</h1>
	</div>

	<div class="container-fluid">
		<table class="table table-hover">
			<thead class="thead">
				<tr>
					<th class="tabletitles">ID</th>
					<th class="tabletitles">NOME</th>
					<th class="tabletitles">INDIRIZZO</th>
					<th class="tabletitles">SPECIALITA'</th>
					<th class="tabletitles">RECENSIONE</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="cur: ${ristoranti}">
					<td class="body" th:text="${cur.id}"></td>
					<td class="body" th:text="${cur.name}"></td>
					<td class="body" th:text="${cur.posizione}"></td>
					<td class="body" th:text="${cur.specialita}"></td>
					<td class="body" th:text="${cur.recensione}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
</body>
</html>