<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/tableLayout.css}">
<meta charset="utf-8">
<title>Tabella Ristoranti</title>
</head>
<body>

	<div class="container-fluid">
		<h1>

			<p class="text-center">
				DeSpoon <br>
			</p>
			<p class="text-center ">I Ristoranti presenti sono:</p>
		</h1>
	</div>

	<div class="container-fluid">
		<table class="table table-hover">
			<thead id="titolo" class="thead">
				<tr>
					<th>ID</th>
					<th>NOME</th>
					<th>INDIRIZZO</th>
					<th>SPECIALITA'</th>
					<th>RECENSIONE</th>
					<th>ELIMINA</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="cur: ${ristoranti}">

					<td th:text="${cur.id}"></td>
					<td th:text="${cur.name}"></td>
					<td th:text="${cur.posizione}"></td>
					<td th:text="${cur.specialita}"></td>
					<td th:text="${cur.recensione}"></td>
					<td>
						<a th:href="@{/delete(id=${cur.id})}">Elimina</a>
						<a th:href="@{/update(id=${cur.id})}">Modifica</a>
					</td>

				</tr>
			</tbody>
		</table>
	</div>
<br>
<br>
<a href="/form.html">
<input type="button" value= "Inserisci Nuovo Ristorante"></a>





</body>
</html>