<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/tableLayout.css}">
<meta charset="utf-8">
<title>Tabella Utenti</title>
</head>
<body>

	<div class="container-fluid">
		<h1 class="text-center ">

			Gli utenti presenti sono:
		</h1>
	</div>
	<nav class="navbar navbar-expand navbar-light">
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/index.html">HOME
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/tabellaRecensioni">RECENSIONI</a></li>
					<li class="nav-item"><a class="nav-link" href="/tabellaRistoranti">RISTORANTI</a></li>
					<li class="nav-item"><a class="nav-link" href="/tabellaUtenti">UTENTI</a>
					</li>
				</ul>
			</div>
		</nav>
	<div class="container-fluid">
		<table class="table table-hover">
			<thead id="titolo" class="thead">
				<tr>
					<th>NOME</th>
					<th>COGNOME</th>
					<th>VISUALIZZA</th>
					<th>ELIMINA</th>
					
				</tr>
			</thead>

			<tbody>
				<tr th:each="cur: ${utente}">

					<td th:text="${cur.name}"></td>
					<td th:text="${cur.cognome}"></td>
					<td>
						<a th:href="@{/visualizzaUten(id=${cur.id})}">Visualizza</a>
					<td>
						<a th:href="@{/deleteUtente(id=${cur.id})}">Elimina</a>
						<a th:href="@{/updateUtente(id=${cur.id})}">Modifica</a>
					</td>

				</tr>
			</tbody>
		</table>
	</div>
<br>
<br>
<a class="btn btn-outline-primary btn-lg" href="/formUtenti.html" role="button"> Inserisci Nuovo Utente</a>